In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
df = pd.read_csv('D:/DataSets/winequality-red.csv')

In [89]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [132]:
X = df.drop('alcohol',axis=1)
y = df['alcohol']

In [79]:
# Test = .10

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=101)

In [80]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [81]:
scaled_X_train = scaler.fit_transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [74]:
from sklearn.linear_model import ElasticNet
base_elastic_model = ElasticNet()

In [157]:
#grid parameters

param_grid = {'alpha':[0.0001,.001, .1, 1,5,10,50,75,100],
              'l1_ratio':[.0001, .001, .1, .5, .7, .9, .95, .99, 1]}

In [158]:
from sklearn.model_selection import GridSearchCV

In [171]:
grid_model = GridSearchCV(estimator=base_elastic_model,
                          param_grid=param_grid,
                          scoring='neg_mean_squared_error',
                          cv=5,
                          verbose=1)

In [172]:
grid_model.fit(scaled_X_train,y_train)
grid_model.best_params_

Fitting 5 folds for each of 81 candidates, totalling 405 fits

{'alpha': 0.001, 'l1_ratio': 0.95}

In [167]:
y_pred = grid_model.predict(scaled_X_test)
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [168]:
mean_absolute_error(y_test,y_pred)

0.5688580737268248

In [169]:
np.sqrt(mean_squared_error(y_test,y_pred))

0.7540196807891438

In [170]:
np.mean(df['alcohol'])

10.422983114446502

In [162]:
# model with best parameters from gridsearch

model = ElasticNet(alpha=.001, l1_ratio=0.95)
model.fit(X, y)
row = [11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,6]
yhat = model.predict([row])
yhat

array([10.39788199])